force-app/main/default/flows/Get_Eventbrite_Events.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Eventbrite_Attendees</name>
        <label>Get Eventbrite Attendees</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <actionName>EBAttendeesCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>For_Each_EBEvent</targetReference>
        </connector>
        <inputParameters>
            <name>eventId</name>
            <value>
                <elementReference>For_Each_EBEvent.eventid__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>settings</name>
            <value>
                <stringValue>EBSettings</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Eventbrite_Events</name>
        <label>Get Eventbrite Events</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>EBEventsCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_EBEvents</targetReference>
        </connector>
        <inputParameters>
            <name>settings</name>
            <value>
                <stringValue>EBSettings</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MinimizeUtilityBar</name>
        <label>MinimizeUtilityBar</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <actionName>c:MinimizeUtilityBar</actionName>
        <actionType>component</actionType>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <interviewLabel
  >Get Eventbrite Events {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Eventbrite Events</label>
    <loops>
        <name>For_Each_EBEvent</name>
        <label>For Each EBEvent</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_EBEvents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Eventbrite_Attendees</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Done</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_EBEvents</name>
        <label>Get EBEvents</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_EBEvent</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EBEvent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MinimizeUtilityBar</targetReference>
        </connector>
        <fields>
            <name>text2</name>
            <fieldText
      >&lt;p&gt;The request is started and all event and attendees will be retrieved.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Eventbrite_Events</targetReference>
        </connector>
        <fields>
            <name>text1</name>
            <fieldText
      >&lt;p&gt;Read all events and attendees from your &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Eventbrite organization and either update existing records or insert new records.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
