force-app/main/default/flows/Get_EBAttendees_from_Listview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_EBAttendee</name>
        <label>Get EBAttendee</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <actionName>EBAttendeesCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>For_each_event</targetReference>
        </connector>
        <inputParameters>
            <name>eventId</name>
            <value>
                <elementReference>Get_EBEvent.eventid__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>settings</name>
            <value>
                <stringValue>EBSettings</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <interviewLabel
  >Get EBAttendees from Listview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get EBAttendees from Listview</label>
    <loops>
        <name>For_each_event</name>
        <label>For each event</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_EBEvent</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_EBEvent</name>
        <label>Get EBEvent</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EBAttendee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_event</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EBEvent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>For_each_event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
