force-app/main/default/flows/Sync_Attendees_with_Contacts_from_Event_button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Contacts_found</name>
        <label>Assign Contacts found</label>
        <locationX>528</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>contactsFound</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Query_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Matches</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Matches</name>
        <label>Check Matches</label>
        <locationX>528</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Update_Status_Duplicates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple Matches</defaultConnectorLabel>
        <rules>
            <name>No_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactsFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Sync_Status</targetReference>
            </connector>
            <label>No Match</label>
        </rules>
        <rules>
            <name>Single_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactsFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Single Match</label>
        </rules>
    </decisions>
    <interviewLabel
  >Sync Attendees with Contacts from Event button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Attendees with Contacts from Event button</label>
    <loops>
        <name>For_each_Attendee</name>
        <label>For each Attendee</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Attendees_not_in_Sync</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Query_Contacts</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Attendees_not_in_Sync</name>
        <label>Get Attendees not in Sync</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_Attendee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EBEvent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Sync_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Synced</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EBAttendee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>528</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Status_and_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_Attendee.email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EBEvent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Query_Contacts</name>
        <label>Query Contacts</label>
        <locationX>528</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contacts_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_Attendee.email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Sync_Status</name>
        <label>Update Contact Sync Status</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>For_each_Attendee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_Attendee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Sync_Status__c</field>
            <value>
                <stringValue>No match found</stringValue>
            </value>
        </inputAssignments>
        <object>EBAttendee__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_and_Contact</name>
        <label>Update Status and Contact</label>
        <locationX>528</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>For_each_Attendee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_Attendee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Sync_Status__c</field>
            <value>
                <stringValue>Synced</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>EBAttendee__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Duplicates</name>
        <label>Update Status Duplicates</label>
        <locationX>792</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>For_each_Attendee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>For_each_Attendee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Sync_Status__c</field>
            <value>
                <stringValue>Duplicates found</stringValue>
            </value>
        </inputAssignments>
        <object>EBAttendee__c</object>
    </recordUpdates>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Attendees_not_in_Sync</targetReference>
        </connector>
        <fields>
            <name>Msg1</name>
            <fieldText
      >&lt;p&gt;Sync all attendee records with contacts based on email match for event &lt;b&gt;{!Get_Event.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactsFound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
